<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjp.mapper.MenuInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bjp.pojo.MenuInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="super_menu_id" property="superMenuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="route" property="route" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
    <result column="have_children_menu" property="haveChildrenMenu" jdbcType="INTEGER" />
    <result column="is_show_children_menu" property="isShowChildrenMenu" jdbcType="INTEGER" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, super_menu_id, menu_name, icon, route, is_show, have_children_menu, is_show_children_menu, 
    active, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bjp.pojo.MenuInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from menu_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjp.pojo.MenuInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu_info (super_menu_id, menu_name, icon, 
      route, is_show, have_children_menu, 
      is_show_children_menu, active, create_time, 
      update_time)
    values (#{superMenuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{route,jdbcType=VARCHAR}, #{isShow,jdbcType=INTEGER}, #{haveChildrenMenu,jdbcType=INTEGER}, 
      #{isShowChildrenMenu,jdbcType=INTEGER}, #{active,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bjp.pojo.MenuInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="superMenuId != null" >
        super_menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="route != null" >
        route,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="haveChildrenMenu != null" >
        have_children_menu,
      </if>
      <if test="isShowChildrenMenu != null" >
        is_show_children_menu,
      </if>
      <if test="active != null" >
        active,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="superMenuId != null" >
        #{superMenuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=INTEGER},
      </if>
      <if test="haveChildrenMenu != null" >
        #{haveChildrenMenu,jdbcType=INTEGER},
      </if>
      <if test="isShowChildrenMenu != null" >
        #{isShowChildrenMenu,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjp.pojo.MenuInfo" >
    update menu_info
    <set >
      <if test="superMenuId != null" >
        super_menu_id = #{superMenuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="route != null" >
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=INTEGER},
      </if>
      <if test="haveChildrenMenu != null" >
        have_children_menu = #{haveChildrenMenu,jdbcType=INTEGER},
      </if>
      <if test="isShowChildrenMenu != null" >
        is_show_children_menu = #{isShowChildrenMenu,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjp.pojo.MenuInfo" >
    update menu_info
    set super_menu_id = #{superMenuId,jdbcType=INTEGER},
      menu_name = #{menuName,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      route = #{route,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=INTEGER},
      have_children_menu = #{haveChildrenMenu,jdbcType=INTEGER},
      is_show_children_menu = #{isShowChildrenMenu,jdbcType=INTEGER},
      active = #{active,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>